footer p{
    font-weight: 700;
    color: #FFF;
}

footer a{
    font-size: 31px;
    text-decoration: none;
    margin-left: 20px;
    color: #FFF;
}

footer {
    background-color: #4E4E4E;
}

footer .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: -50px;  
}

.footer-left{
    margin-top: 50px;
}

.footer-right{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 10px;  
}

@media (min-width: 576px){
    
    footer .container{
        height: 70px;
        justify-content: space-between;
        flex-direction: row;
    }

    .footer-left{
        margin-top: 0; 
    }

    .footer-right{
        margin-bottom: 0;
        margin-top: 0;
    }
}
